@import url(https://fonts.googleapis.com/css2?family=Macondo&display=swap);

body {
    position: relative;
    background-image: url("../static/stone_wall.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    font-family: "Macondo", cursive;
    font-style: normal;
}

body, ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 18px;
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: #1d1e20;
    display:flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

.menu li {
    margin-left: 3px;
}

.menu li a {
    display: block;
    padding: 3px;
    background-color: rgb(194, 73, 51);
}

.section {
    position: relative;
    border-radius: 20px;
    padding-bottom: 500px;
    background-color: white;
    opacity: .5;
    max-width: 4000px;
    max-height: 600px;
    margin: 0 5%;
    margin-top: 20px;
}

.box {
    position: absolute;
    display: grid;
    grid-template-columns: 150px 150px;
    text-align: center;
    max-width: 400px;
    grid-gap: 30px 20px;
    font-size: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

label {
    display: block;
    text-align: center;
}

button {
    border: 0px solid transparent;
    background-color: transparent;
}

img {
    width: 20px;
    height: 20px;
    object-fit: fill;
}

#increaseAllied, #increaseModifier, #increaseItem, #increase {
    image-orientation:flip;
    transform: rotate(180deg);
}

.reset {
    font-size: 20px;
}