@import url(https://fonts.googleapis.com/css2?family=Macondo&display=swap);

body {
    background-image: url("../static/stone_wall.png");
    background-size: cover ;
    background-repeat: no-repeat;
    background-size: 130%;
    font-family: "Macondo", cursive;
    font-style: normal;

}

body, ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: #1d1e20;
    display:flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
    background-color: rgb(194, 73, 51);
}

.section {
    position: relative;
    border-radius: 25px;
    padding-bottom: 700px;
    background-color: white;
    opacity: .5;
    max-width: 430px;
    max-height: 800px;
    margin: 0 auto;
    margin-top: 45px;
}

.box {
    position: absolute;
    display: grid;
    grid-template-columns: 160px 160px;
    text-align: center;
    max-width: 450px;
    grid-gap: 40px;
    font-size: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);

}

label {
    display: block;
    text-align: center;
}

button {
    border: 0px solid transparent;
    background-color: transparent;
}

img {
    width: 30px;
    height: 30px;
    object-fit: fill;
}

#increaseAllied, #increaseModifier, #increaseItem, #increase {
    image-orientation:flip;
    transform: rotate(180deg);
}

.reset {
    font-size: 40px;
}