
body{
  line-height: 1.5;
  overflow: hidden;
}

#titulo {
  color:rgb(12, 156, 108);
  font-family: "Zilla Slab", serif;
}

input {
  font-family: "Jost", sans-serif;
  width: 55px;
  text-align: center;
  color: black;
  border: none;
  outline-style: none;
}

#minhatabela {
  font-family: "Jost", sans-serif;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  border-radius: 9px;
  border-collapse: collapse;
  border: 1px solid #dee2e685;
}

#minhatabela thead {
  background-color: #272727;
}

#minhatabela thead tr th{
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.35px;
  color: #FFFFFF;
  opacity: 1;
  padding: 3px;
  vertical-align:middle;
  border: 1px solid #dee2e685;
}

#minhatabela tbody tr td {
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: normal;
  color: black;
  padding: 3px;
  text-align: center;
  border: 1px solid #dee2e685;
}


/* .btn {
  background-color: #272727;
  border: none;
  color: white;
  padding: 3px 7px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
} */

.cabecalho {
  font-family: "Jost", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.general {
  width: 60px;
}

#mensagem {
  background-color: #272727;
  border-radius: 30px;
  border-color: #272727;
  width: 100px;
  height: 100px;
  text-align: center;
  font-family: 'Jost', sans-serif;
  font-weight: bolder;
  margin-top: 40%;
  font-size: 18px;
  color: white;
  outline-style: none;
  overflow: hidden;
  
}

#ganhador {
  margin-top: 12px;
  font-family: "Bebas Neue", sans-serif;
  color: red;
  font-size: 30px;
  font-style: italic;
}

.modalJogadores {
  padding: 20px 20px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
  border: 0px solid white;
  border-radius: 10px;
}

.formularioJogadores {
  outline-style: none;

}

#btn {
  margin-left: 10%;
  border-radius: 10px;
  list-style: none;
  border: 0px solid white;
  background-color: #272727;
  color: white;
  padding: 4px 8px;
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  visibility: hidden;
  background-color:  #272727;
}